# Binaries
bin/
*.exe
*.dll
*.so
*.dylib

# Environment variables & secrets
.env
*.env.local
config.yaml

# OS & Editor files
.DS_Store
.idea/
.vscode/
*.swp
*~

# Others
hidden

# Data & SQLite
data/
*.db
*.db-wal
*.db-shm

# Logs
logs/
*.log